@import "variables";
@import "extend";

ul,
li {
  margin: 0;
  text-decoration: none;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(8, max-content);
}

li:last-child {
  margin-right: 0;
}

.nav {
  display: grid;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;

  &__links {
    @extend %link-active-shared;

    &:hover {
      color: $primary-light-blue;
    }
  }

  .is-active {
    @extend %link-active-shared;
    color: $primary-light-blue;

    &::after {
      content: "";
      position: absolute;
      border-radius: 8px;
      background-color: $primary-light-blue;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 4px;
    }
  }
}
