.item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 403px;
  width: 200px;
  line-height: 13px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 15px;
  padding-top: 30px; }
  .item:hover {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07); }
  .item__img {
    width: 160px;
    height: 134px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    margin-bottom: 45px; }
    .item__img:hover {
      margin-top: -17px;
      margin-bottom: 28px;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      padding: 13px 0;
      border: 4px solid #f3f3f3;
      border-radius: 5px; }
  .item__title {
    margin: 0;
    padding: 0;
    margin-left: -1px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; }
  .item__code {
    margin: 5px 0; }
  .item__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0; }
    .item__price--value {
      font-weight: bold;
      font-size: 16px;
      margin: 13px 0; }
  .item__buy-button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    height: 40px;
    width: 170px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #00acdc;
    border: 1px solid #00acdc;
    border-radius: 5px; }
    .item__buy-button:hover {
      color: #00acdc;
      background: #fff; }

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0; }
  .rating__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .rating__star {
    height: 15px;
    width: 15px;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat; }
  .rating__star:nth-child(-n+4) {
    background-image: url(../images/star-active.svg); }

/*# sourceMappingURL=card.css.map */
